<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Testing Bootsrap 3 Gridding System</title>
<link rel="stylesheet" href="bootstrap/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="teststyle.css">

<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<script src="jquery.min.js"></script>
<script src="bootstrap/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="myscript.js"></script>



</head>
<body>

<nav class="navbar navbar-inverse" id="mynav">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Studila.com</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="Login.html">Login</a></li>
	      <li><a href="#">Sign Up</a></li>
	      <li><a href="#">Q&A Forum</a></li>
	    </ul>
  </div>

</nav>

<div class="container">




  <div class="row">																<!-- this is a jumbotron -->
  	<div class="col-md-12" id="jumbotron">
  		<h1>STUDILA.com</h1>
  		<p>Everybody deserves to learn</p>
  		<p>We provide learning solutions without cost for enthusiastic students and smart parents</p>
  	</div>
  </div>


  <div class="row">																<!-- this is a middle content (side navbar,main content button & ads -->
    <div class="col-md-3" id="navbar2" >
    	<div class="row">
    		<a href="SubjectIndexF4.html"><div class="navbox" id="form4"><p class="mybutton">Tingkatan 4</p></div><a>
    		<a href="SubjectIndexF4.html"><div class="navbox" id="form5"><p class="mybutton">Tingkatan 5</p></div><a>
    	</div>
    </div>

    <div class="col-md-7" id="maincontent">
      <div class="row">
	          <div class="container-fluid">
			    <h2 class="login_page">Login</h2>
			    <form role="form" class="login_page">
			      <div class="form-group">
			        <label for="email">Email:</label>
			        <input type="email" class="form-control" id="email" placeholder="Enter email">
			      </div>
			      <div class="form-group">
			        <label for="pwd">Password:</label>
			        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
			      </div>
			      <div class="checkbox">
			        <label><input type="checkbox"> Remember me</label>
			      </div>
			      <button type="submit" class="btn btn-default">Submit</button>
			    </form>
		</div>
      </div>
    </div>
    <div class="col-md-2" id="ads" >
	     Advertisement
    </div>
  </div>

  <div class="row">

  	<div class="col-md-12" id="footer">											<!-- this is footer -->
  		<p class="footer_item" id="company_signature"> Bayu Laut SDN BHD </p>
  		<p class="footer_item" id="address">No 6 Jalan 6/32B <br> Bandar Tasik Puteri, Selangor Darul Ehsan</p>

  	</div>

  </div>




</div>


</body>
</html>